.container{
    margin: 0 auto;
    width: 960px;
    border: 1px solid green;
    overflow: hidden;
}
.img_item{
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding: 0 5px;
    margin: 3px 0;
}
.img_item img{
    width: 100%;
}